@charset "UTF-8";
html, body {
  width: 100%;
  background: #FAFAFA; }

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td, figure {
  margin: 0;
  padding: 0; }

/*去除默认空隙*/
body {
  font: 12px "微软雅黑";
  word-wrap: break-word;
  /*数字字母自动换行*/ }

a, u, s, del {
  color: #666;
  text-decoration: none; }

fieldset, a img, .bor0 {
  border: 0; }

i, em, b {
  font-style: normal;
  font-weight: 100; }

li {
  list-style: none; }

img {
  vertical-align: middle; }

/*或者display:block;*/
a {
  text-decoration: none; }

/*去除下划线*/
table {
  border-collapse: collapse; }

/*细线边框*/
.ind2 {
  text-indent: 2em; }

textarea {
  resize: none; }

/*禁止拖动*/
mark {
  background: none; }

.wrapper {
  width: 980px;
  margin: 0 auto; }

.mt10 {
  margin-top: 10px; }

.mt30 {
  margin-top: 30px; }

.fl {
  float: left; }

header .logo {
  display: block;
  float: left;
  width: 300px;
  margin-top: 16px; }

section .landbox {
  padding: 25px 0 25px 25px;
  float: left;
  background: #fff;
  border-width: 2px 0 1px 1px;
  border-style: solid;
  border-color: #c00 #ddd #ddd #ddd;
  width: 650px;
  height: 420px;
  box-sizing: content-box; }

section .landbox h3 {
  height: 60px;
  line-height: 60px;
  padding: 0 60px 0 15px; }

section .landbox h3 span {
  font-size: 20px;
  font-weight: 600;
  color: #777;
  margin-right: 15px; }

section .landbox h3 strong {
  font-size: 14px;
  font-weight: 100;
  color: #555; }

section .landbox h3 strong a {
  color: #c00;
  text-decoration: underline; }

section .landbox #login ul li {
  height: 29px;
  margin-bottom: 28px; }

section .landbox #login ul li .origin {
  display: block;
  float: left;
  text-align: right;
  width: 95px;
  margin-right: 10px;
  font: 14px/34px "";
  color: #999; }

section .landbox #login ul li .origin b {
  color: #f00;
  font-weight: 100;
  margin: 0 5px; }

section .landbox #login ul li i {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  float: left; }

section .landbox #login ul li i.geren {
  background: url(../img/geren.png) no-repeat;
  background-size: 17px 17px;
  background-position: 8px 8px; }

section .landbox #login ul li i.mima {
  background: url(../img/denglumima.png) no-repeat;
  background-size: 17px 17px;
  background-position: 8px 8px; }

section .landbox #login ul li .landboxinput {
  border: 1px solid #ccc;
  border-left: none;
  padding: 4px 20px 4px 3px;
  line-height: 24px;
  height: 24px;
  text-indent: 5px;
  width: 230px;
  float: left; }

section .landbox #login #checkNumber {
  border: 1px solid #ccc;
  padding: 4px 20px 4px 3px;
  line-height: 24px;
  height: 24px;
  text-indent: 5px;
  width: 120px;
  float: left; }

section .landbox #login #checkNumber img {
  vertical-align: middle; }

section .landbox #login ul li label.error {
  line-height: 34px;
  color: #c00;
  margin-left: 3px; }

section .landbox #login ul li #remember {
  float: left;
  margin-left: 105px;
  margin-top: 4px; }

section .landbox #login ul li #remember + span {
  color: #555;
  display: block;
  float: left;
  line-height: 20px; }

section .landbox #login ul li .forget-password {
  display: block;
  float: left;
  color: #006cff;
  text-decoration: underline;
  margin-left: 165px;
  line-height: 22px; }

section .landbox #register-agree {
  margin-left: 104px;
  height: 40px; }

section .landbox #register-agree input {
  float: left; }

section .landbox #register-agree span {
  float: left;
  display: block;
  margin-left: 5px;
  margin-top: 1px; }

section .landbox #register-agree a {
  color: #c00; }

section .landbox #login #btn {
  background: #c00;
  color: #fff;
  font: 700 18px/37px "";
  margin-left: 104px;
  text-align: center;
  width: 290px;
  border: 0; }

section .landbox #login #btn:hover {
  opacity: .8; }

section #result {
  color: #c00;
  margin-left: 4px; }

.landbox h2 {
  height: 60px;
  line-height: 60px;
  padding: 0 60px 0 15px; }

.landbox h2 span {
  color: #777;
  font-size: 20px;
  margin-right: 15px;
  font-weight: 600; }

.landbox .quicklanding {
  padding-left: 15px; }

.landbox .quicklanding a {
  width: 106px;
  height: 49px;
  display: block;
  float: left;
  margin-right: 5px; }

.landbox .quicklanding a.qq {
  background-image: url(../img/qq.png); }

.landbox .quicklanding a.weibo {
  background-image: url(../img/weibo.png); }

.landbox .quicklanding a.wechart {
  background-image: url(../img/wechart.png); }

section .right-espot {
  float: left;
  width: 297px;
  height: 473px;
  border-top: 2px solid #c00;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

section .right-espot a img {
  display: block;
  height: 470px; }
