@charset "UTF-8";
html, body {
  width: 100%;
  background: #FAFAFA; }

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td, figure {
  margin: 0;
  padding: 0; }

/*去除默认空隙*/
body {
  font: 12px "微软雅黑";
  word-wrap: break-word;
  /*数字字母自动换行*/ }

a, u, s, del {
  color: #666;
  text-decoration: none; }

fieldset, a img, .bor0 {
  border: 0; }

i, em, b {
  font-style: normal;
  font-weight: 100; }

li {
  list-style: none; }

img {
  vertical-align: middle; }

/*或者display:block;*/
a {
  text-decoration: none; }

/*去除下划线*/
table {
  border-collapse: collapse; }

/*细线边框*/
.ind2 {
  text-indent: 2em; }

textarea {
  resize: none; }

/*禁止拖动*/
mark {
  background: none; }

.margin {
  width: 980px;
  margin: 0 auto; }

/*万能清除法*/
.clear {
  zoom: 1;
  /*ie才能识别 解决ie的高度塌陷问题*/ }

.clear:before {
  content: "";
  display: table; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

#headerWrapper .wrapper {
  background: #f5f5f5;
  padding: 5px; }

#headerWrapper .margin {
  width: 980px;
  margin: 0 auto;
  font: 12px;
  line-height: 24px; }

#headerWrapper .margin .fl {
  float: left;
  line-height: 24px; }

#headerWrapper .margin .fl li {
  float: left; }

#headerWrapper .margin .fl li.topsc {
  position: relative;
  margin-right: 20px;
  padding-right: 20px; }

#headerWrapper .margin .fl li.topsc b {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/bg.png) -159px 0 no-repeat;
  position: absolute;
  right: 0;
  top: 5px; }

#headerWrapper .margin .fl li.topAddress a {
  display: inline-block;
  background: #c00;
  line-height: 24px;
  color: #fff;
  padding: 0 10px; }

#headerWrapper .margin .fr {
  float: right; }

#headerWrapper .margin .fr li {
  float: left;
  padding: 0 10px;
  line-height: 24px;
  height: 24px;
  position: relative; }

#headerWrapper .margin .fr li.login a {
  margin-left: 5px; }

#headerWrapper .margin .fr em {
  border-left: 1px solid #ddd;
  height: 12px;
  top: 6px;
  width: 0;
  left: 0;
  position: absolute; }

#headerWrapper .middleMargin {
  width: 980px;
  margin: 20px auto 0; }

#headerWrapper .middleMargin .logo {
  float: left;
  background: url(../img/logo.png) no-repeat;
  display: block;
  width: 300px;
  height: 38px;
  margin-top: 16px; }

#headerWrapper .middleMargin .search {
  float: left; }

#headerWrapper .middleMargin .search #searchBox {
  height: 30px;
  width: 464px;
  border: 3px solid #c00;
  overflow: hidden;
  position: relative; }

#headerWrapper .middleMargin .search #searchBox #txt {
  width: 377px;
  background: #fff;
  font: 14px/20px "";
  border: 0;
  height: 20px;
  float: left;
  padding: 5px;
  color: #999; }

#headerWrapper .middleMargin .search #searchBox #btn {
  width: 77px;
  height: 30px;
  background: #c00;
  color: #fff;
  float: left;
  padding: 5px;
  font: 700 14px "";
  border: 0; }

.search .underBox {
  position: absolute;
  z-index: 4; }

.search .underBox li {
  width: 377px;
  padding: 5px;
  font: 14px/20px "";
  border: 3px solid #c00;
  border-top: 0;
  background: #fff;
  border-bottom: 1px dashed #c00; }

.search .underBox li:last-child {
  border-bottom: 3px solid #c00; }

#headerWrapper .middleMargin .search .hot {
  color: #999;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  margin-top: 5px; }

#headerWrapper .middleMargin .search .hot dt {
  float: left;
  font-weight: 500; }

#headerWrapper .middleMargin .search .hot dd {
  float: left; }

#headerWrapper .middleMargin .search .hot dd a {
  margin-right: 10px;
  color: #999; }

#headerWrapper .middleMargin .search .hot dd a:hover {
  color: #c00; }

#headerWrapper .middleMargin .search .hot dd a.active {
  color: #c00; }

#headerWrapper .middleMargin .promise {
  float: right;
  width: 180px; }

#headerWrapper .middleMargin .promise li {
  float: left;
  width: 60px; }

#headerWrapper .middleMargin .promise li span {
  text-align: center;
  display: block;
  margin-top: 5px; }

#headerWrapper .middleMargin .promise li b {
  background: url(../img/bg.png) no-repeat;
  display: block;
  height: 33px;
  margin: 0 auto; }

#headerWrapper .middleMargin .promise .protect > b {
  background-position: -206px 0;
  width: 30px; }

#headerWrapper .middleMargin .promise .sale > b {
  background-position: -241px 0;
  width: 37px; }

#headerWrapper .middleMargin .promise .free > b {
  background-position: -278px 0;
  width: 40px; }

#headerWrapper .bottomMargin {
  background: #e23639;
  margin-top: 20px; }

#headerWrapper .bottomMargin .contain {
  width: 980px;
  margin: 0 auto;
  position: relative; }

#headerWrapper .bottomMargin .contain .allGoods {
  width: 225px;
  position: relative;
  background: #c00;
  float: left; }

#headerWrapper .bottomMargin .contain .allGoods .catalog a {
  font: 700 14px/40px "";
  height: 40px;
  padding-left: 20px;
  color: #fff; }

#headerWrapper .bottomMargin .contain .allGoods .catalog b {
  display: block;
  width: 10px;
  height: 6px;
  position: absolute;
  right: 20px;
  top: 17px;
  background: url(../img/bg.png) -38px -17px no-repeat; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs {
  position: absolute;
  left: 0;
  z-index: 1;
  background: #eee;
  display: none; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs dl {
  border-bottom: 1px solid #fafafa;
  width: 225px;
  height: 40px;
  overflow: hidden; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs dt {
  text-align: center;
  height: 40px; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs dt a {
  color: #666;
  display: block; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs dt a span {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs dd {
  float: left;
  text-align: center;
  height: 20px; }

#headerWrapper .bottomMargin .contain .allGoods .catalogs dd a {
  width: 98px;
  display: inline-block;
  white-space: nowrap;
  line-height: 20px; }

#headerWrapper .bottomMargin .contain .nav {
  float: left;
  position: relative;
  width: 580px;
  height: 40px;
  overflow: hidden; }

#headerWrapper .bottomMargin .contain .nav ul {
  width: 680px;
  position: relative; }

#headerWrapper .bottomMargin .contain .nav ul li {
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  position: relative;
  z-index: 3; }

#headerWrapper .bottomMargin .contain .nav ul li a {
  width: 100px;
  font: 700 14px/40px "";
  color: #fff;
  height: 40px; }

#headerWrapper .bottomMargin .contain .nav .ban {
  position: absolute;
  left: -100px;
  background: #a40000;
  width: 100px;
  height: 40px;
  bottom: 0; }

#headerWrapper .bottomMargin .contain .car {
  float: right;
  width: 120px;
  height: 40px;
  background: #A40000;
  position: relative; }

#headerWrapper .bottomMargin .contain .car b {
  background: url(../img/bg.png) -157px -31px no-repeat;
  width: 19px;
  height: 15px;
  position: absolute;
  left: 18px;
  top: 12px; }

#headerWrapper .bottomMargin .contain .car a {
  height: 40px;
  display: block;
  color: #fff;
  font: 400 14px/40px "";
  width: 120px; }

#headerWrapper .bottomMargin .contain .car span {
  float: left;
  margin-left: 50px; }

#contentWarp {
  margin: 0 auto; }

#contentWarp .banner {
  overflow: hidden;
  position: relative; }

#contentWarp .banner .imgBox {
  width: 100%;
  height: 410px;
  margin: 0 auto; }

#contentWarp .banner .imgBox li {
  position: absolute;
  width: 1263px;
  height: 410px;
  display: none; }

#contentWarp .banner .imgBox li:first-child {
  display: block; }

#contentWarp .banner .imgBox li a {
  display: block;
  height: 410px; }

#contentWarp .btns {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  display: none; }

#contentWarp .btns span {
  opacity: .5;
  position: absolute;
  background: black url(../img/slider-arrow.png) no-repeat;
  width: 40px;
  height: 60px;
  top: -200px; }

#contentWarp .btns #leftBtn {
  background-position: -126px -137px;
  left: 16%; }

#contentWarp .btns #rightBtn {
  background-position: -6px -137px;
  right: 16%; }

#contentWarp .btns .btnBox {
  text-align: center; }

#contentWarp .btns .btnBox li {
  width: 42px;
  height: 11px;
  background-color: #000;
  display: inline-block;
  opacity: .5;
  margin: 1px; }

#contentWarp .btns .btnBox .active {
  background-color: #f00; }

#hotSale {
  margin-top: 10px;
  position: relative; }

#hotSale ul {
  border-left: 1px solid #ddd;
  background: #fff;
  width: 980px; }

#hotSale ul li {
  float: left;
  padding: 12px;
  border: 1px solid #ddd;
  border-left: 0;
  text-align: center; }

#hotSale ul li a {
  display: block; }

#hotSale ul li a img {
  display: block;
  width: 220px;
  height: 220px; }

#hotSale ul li a span {
  font: 700 18px/24px "";
  color: #c00;
  display: block;
  margin-top: 5px; }

#hotSale .hotBg {
  background: url(../img/bg.png) -80px -227px no-repeat;
  position: absolute;
  top: 0;
  left: 427px;
  padding-left: 36px;
  width: 127px;
  height: 33px;
  padding-top: 2px;
  color: #fff;
  font: 400 14px ""; }

#goods {
  margin-top: 10px; }

#goods .houseHead {
  margin-bottom: 5px; }

#goods .houseHead p {
  float: left;
  padding-left: 14px;
  border-left: 4px solid #f00;
  font: 500 14px/24px ""; }

#goods .houseHead ul {
  float: right; }

#goods .houseHead ul li {
  float: left; }

#goods .houseHead ul li a {
  font: 500 16px/24px "";
  color: #666;
  vertical-align: middle; }

#goods .houseHead ul li span {
  font-size: 12px;
  line-height: 24px;
  margin: 0 10px; }

#goods .houseBody dl dt {
  float: left; }

#goods .houseBody dl a {
  display: block;
  background: #fff; }

#goods .houseBody dl dt a img {
  display: block;
  width: 180px;
  height: 248px;
  vertical-align: middle; }

#goods .houseBody dl dd {
  float: left;
  border: 1px solid #ddd;
  border-left: 0; }

#goods .houseBody dl dd a img {
  display: block;
  width: 199px;
  height: 218px; }

#goods .houseBody dl dd a span {
  font: 700 18px/24px "";
  color: #c00;
  text-align: center;
  display: block;
  padding-bottom: 4px; }

#goods .margin {
  margin-bottom: 5px; }

#rightFixed {
  position: fixed;
  right: 0;
  top: 40px;
  margin-left: 515px; }

#rightFixed a {
  background: #9f9;
  position: relative;
  height: 42px;
  display: block;
  width: 50px;
  margin: 5px 0; }

#rightFixed a i {
  display: block;
  width: 50px;
  background: #99f;
  height: 42px;
  position: absolute;
  left: 0; }

#rightFixed a span {
  display: block;
  height: 42px;
  background: #f99;
  width: 0;
  position: absolute;
  right: 0; }

footer {
  background: #e7e6e5;
  margin-top: 20px;
  overflow: hidden;
  padding-top: 10px;
  overflow: hidden; }

footer .server {
  overflow: hidden; }

footer dl {
  float: left;
  width: 155px; }

footer dl dt {
  color: #333;
  line-height: 24px;
  font-weight: bold; }

footer dl dd a {
  line-height: 24px;
  color: #333; }

footer dl dd a:hover {
  color: #c00;
  text-decoration: underline; }

footer .map {
  background: url(../img/map.jpg) no-repeat;
  width: 170px;
  height: 139px;
  float: right; }

footer img {
  width: 100%; }

/*放大镜*/
#goodsMsg .margin {
  margin-top: 20px; }

#bBig {
  overflow: hidden; }

#big {
  float: left;
  position: relative; }

#big .bigBox {
  float: left; }

#big .sbox {
  border: 1px solid #eee;
  height: 400px;
  position: relative;
  width: 400px; }

#big .sbox img {
  display: block;
  width: 400px;
  height: 400px; }

#big .sbox p {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#big .sbox span {
  width: 120px;
  height: 120px;
  background: rgba(220, 220, 220, 0.6);
  display: block;
  position: absolute;
  display: none;
  left: 0;
  top: 0; }

#big .bbox {
  float: left;
  border: 1px solid #eee;
  height: 400px;
  width: 400px;
  margin-left: 2px;
  display: none;
  overflow: hidden;
  position: absolute;
  left: 405px;
  top: 0;
  z-index: 4; }

#big .bbox img {
  display: block;
  width: 1200px;
  height: 1200px;
  position: absolute;
  left: 0;
  top: 0; }

#big .change {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; }

#big .change .changeLeft {
  background: url(../img/bg.png) 0 -58px no-repeat;
  cursor: pointer;
  width: 12px;
  height: 22px;
  margin: 20px 12px 0 3px; }

#big .change .changeRight {
  background: url(../img/bg.png) -14px -58px no-repeat;
  cursor: pointer;
  width: 12px;
  height: 22px;
  margin: 20px 3px 0 12px; }

#big .change ul {
  display: flex;
  justify-content: space-between; }

#big .change ul li {
  margin: 2px; }

#big .change ul li img {
  display: block;
  widows: 60px;
  height: 60px;
  border: 2px solid #ccc; }

#bBig .detil {
  float: right;
  width: 540px; }

#bBig .detil h1 {
  max-height: 5em;
  text-overflow: ellipsis;
  font: 700 16px/1.5em Arial,"microsoft yahei";
  width: 540px;
  word-break: break-all; }

#bBig .detil h2 {
  color: grey;
  font: 13px/1.5em Arial,"microsoft yahei"; }

#bBig .detil dl {
  display: block;
  overflow: hidden; }

#bBig .detil dt {
  text-align: left;
  width: 85px;
  float: left;
  height: 28px;
  line-height: 28px; }

#bBig .detil dd {
  float: left;
  height: 28px;
  line-height: 28px; }

#bBig .detil .scjia {
  float: left;
  height: 28px;
  line-height: 28px; }

#bBig .detil .scjia strong {
  font: 700 24px/24px Verdana,Arial;
  color: #c00; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.reduceDisable {
  color: #ccc;
  cursor: not-allowed;
  border-color: #c9c9c9;
  border: 1px solid #c9c9c9;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-family: icon;
  cursor: pointer;
  display: inline-block;
  background: #ededed;
  font-size: 16px;
  float: left;
  border-right: 0; }

.numberIn {
  width: 36px;
  line-height: 22px;
  border: 1px solid #c9c9c9;
  text-align: center;
  float: left;
  padding: 0;
  height: 22px; }

.increase {
  border: 1px solid #c9c9c9;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background: #ededed;
  font-size: 16px;
  float: left;
  border-left: 0; }

.buyNowBtn, .addCartBtn {
  padding: 0 30px;
  background: #ffe4d0;
  display: inline-block;
  font: left;
  text-align: center;
  font: 700 18px/40px '';
  color: #c00;
  margin-top: 25px;
  filter: alpha(opacity=80);
  -moz-opacity: .8;
  opacity: .8;
  cursor: pointer; }

.addCartBtn {
  background: #c00;
  color: #fff;
  margin-left: 10px; }

/*购物车界面*/
section .carul {
  margin: 20px 0;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  position: relative; }

section .carul li {
  float: left;
  line-height: 40px;
  overflow: hidden;
  text-align: center; }

section .pa {
  position: absolute;
  width: 80px;
  text-align: left;
  left: 20px; }

section .selectorderitem {
  margin-top: 14px;
  float: left;
  margin-right: 15px; }

section .carCheckbox {
  width: 30px;
  text-align: left;
  padding-left: 20px; }

section .carGoods {
  width: 390px; }

section .carPrice {
  width: 110px; }

section .carPromotion {
  width: 80px; }

section .carAddress {
  width: 80px; }

section .carQuantity {
  width: 100px; }

section .carSubtotal {
  width: 118px; }

section .carOperation {
  width: 100px; }

section .goodsList {
  background: #fffdee;
  padding: 5px; }

.goodsList .ulList {
  display: flex;
  background: #fffdee;
  border: 0; }

.goodsList .carGoods {
  width: 340px;
  text-align: center; }

.goodsList .carGoods a {
  float: left; }

.goodsList .carGoods .imgA {
  margin-right: 8px; }

.goodsList .carGoods .imgA img {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd; }

.goodsList .carGoods .imgB {
  word-break: break-all; }

.goodsList .carGoods .imgB:hover {
  color: #c00; }

.goodsList .carPrice {
  width: 110px;
  font-weight: 700;
  color: #333; }

.goodsList .carPromotion {
  width: 80px; }

.goodsList .carAddress {
  width: 80px; }

.goodsList .carQuantity {
  width: 100px; }

.goodsList .carQuantity div {
  margin-top: 7px;
  text-align: center;
  margin-left: 8px; }

.goodsList .carSubtotal {
  width: 118px; }

.goodsList .carOperation {
  width: 90px; }

.goodsList .carOperation span {
  margin: 0 1px; }

section .goodsFoot li {
  line-height: 50px;
  float: left; }

section .goodsFoot .goodsFootstyle {
  padding-left: 10px;
  margin-right: 20px;
  color: #c00;
  display: block; }

section .goodsFoot .pr10 {
  padding-right: 10px; }

section .goodsFoot .pr10 .fl {
  float: left;
  margin-right: 20px; }

section .goodsFoot .pr10 .fl span {
  font-size: 18px;
  font-weight: 700;
  color: #c00;
  line-height: 50px;
  padding: 0 5px; }

section .button {
  display: flex;
  justify-content: space-between; }

section .goshoppingBtn {
  background: none repeat scroll 0 0 #ffe4d0;
  color: #c00;
  cursor: pointer;
  display: block;
  float: left;
  font: 700 18px/40px "";
  margin-top: 25px;
  padding: 0 30px;
  text-align: center; }

section .qujiesuanBtn {
  font: 700 18px/40px "";
  margin-top: 25px;
  padding: 0 30px;
  text-align: center;
  background: none repeat scroll 0 0 #c00;
  color: #fff;
  float: right;
  margin-left: 10px;
  cursor: pointer; }

#listHtml {
  overflow: hidden; }

#listHtml #bread {
  margin-top: 10px; }

#listHtml .goodsBox ul {
  display: flex;
  justify-content: space-around; }

#listHtml .goodsBox ul li {
  width: 185px;
  margin-right: 17px;
  float: left;
  margin-top: 20px; }

#listHtml .goodsBox ul li a {
  display: block; }

#listHtml .goodsBox ul li a img {
  display: block;
  width: 185px;
  height: 185px; }

#listHtml .goodsBox ul li p a {
  display: block;
  height: 32px;
  margin-top: 10px;
  overflow: hidden;
  width: 185px;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  cursor: pointer; }

#listHtml .goodsBox ul li p a:hover {
  color: #c00;
  text-decoration: underline; }

#listHtml .goodsBox ul li span {
  font: 700 18px/20px "";
  color: #c00;
  display: block; }

#listHtml .goodsBox ul li b {
  display: block;
  width: 160px;
  margin: 0 auto;
  background: #ddd;
  font: 700 16px/32px "";
  text-align: center;
  cursor: pointer; }
